@model SubjectTopic
@{
    ViewBag.Title = "Assign a topic to a subject";
    List<Subject> SubjectList = (List<Subject>)ViewData["SubjectList"];
    List<Topic> TopicList = (List<Topic>)ViewData["TopicList"];
}

<h2>Assign a topic to a subject <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddSubjectTopic" method="post">
    <select class="form-select form-select-lg" name="SubjectId" id="SubjectId" required>
        <option value="" selected>Subject Id</option>
        @{
            foreach (Subject r in SubjectList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br />
    <select class="form-select form-select-lg" name="TopicId" id="TopicId" required>
        <option value="" selected>Topic Id</option>
        @{
            foreach (Topic r in TopicList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
    </select>
    <br />
   
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <h3 style="color:red" class="text-center"> This topic has already been assigned to this subject.</h3>
}
