@model Topic
@{
    ViewBag.Title = "Add an Topic";
    String cookie = ViewData["cookie"].ToString();
    Layout = "_Layout";

}
<h2>Add new topic <a asp-action="GetTopic" class="btn btn-sm btn-secondary">Back </a></h2>
<form asp-action="AddTopic" method="post" style="width:730px;">
    <div class="form-group d-flex justify-content-between">
        <div>
            <label for="Id">Id:</label>
            <input class="form-control" name="id" required  style="width:350px;"/>
        </div>
        <div>
            <label for="Name">Name:</label>
            <input class="form-control" name="name" required s style="width:350px;"/>
        </div>
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <input class="form-control" name="descripton" required  style="width:730px;"/>
    </div>
    <input type="hidden" name="LecturerId" value="@cookie" />
    <input type="hidden" name="approval" value="false" />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary"  style="width:730px;font-size:20px">Add</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This Id already exists</h3>
}
