@{

	List<Report> reportList = (List<Report>)ViewData["ReportList"];
}

@if (reportList != null)
{
    <table class="table table-hover table-sm  table-bordered m-2"
           style="-moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px#888; box-shadow: 0 0 5px #888;">
        <thead style="background-color:lightgrey;color:black;">
            <tr>
                <th>ID</th>
                <th>Descripton</th>
                <th>Team Id</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var r in reportList)
            {
                <tr>
                    <td>@r.Id</td>
                    <td>@r.Description</td>
                    <td>@r.TeamId</td>
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <div> No topic available</div>
}

