@model Account
@{
    ViewBag.Title = "Add an Account";
    List<Lecturer> LecturerList = (List<Lecturer>)ViewData["LecturerList"];
    List<Student> StudentList = (List<Student>)ViewData["StudentList"];
}

<h2>Add an Account <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<div> Only select the corresponding Id for the role you want to create and leave the other empty.<div/>
 <br/>
<form asp-action="AddAccount" method="post">
    <div class="form-group">
        <label for="Username">Username:</label>
        <input class="form-control" name="Username" required />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input class="form-control" name="Password" required />
    </div>
    <br />
    <label>Lecturer Id:</label>
    <select class="form-select form-select-lg" name="LecturerId" id="LecturerId">
        <option value="" selected>Lecturer Id</option>
        @{
            foreach (Lecturer r in LecturerList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br />
    <label>Student Id:</label>
    <select class="form-select form-select-lg" name="StudentId" id="StudentId">
        <option value="" selected>Student Id</option>
        @{
            foreach (Student r in StudentList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
    </select>
    <br />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>


@if (ViewBag.Result == "Duplicate Student")
{
    <h2>This student Id has already been assigned to an account</h2>
}@if (ViewBag.Result == "Duplicate Lecturer")
{
    <h2>This lecturer Id has already been assigned to an account</h2>
}
@if (ViewBag.Result == "Duplicate Username")
{
    <h2>This username already exists</h2>
}
