@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    StudentTeam team = (StudentTeam)ViewData["TeamId"];
    string cookie = ViewData["Cookie"].ToString();
}
@*<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>*@
<div class="form_container">
    <a asp-action="Index" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;">&lt- </a>
<form asp-action="AddReport" method="post" >
    <h3>Add a report @cookie @team.TeamId</h3>
    <div class="form-group">
        <div>
            <label for="Id">Id:</label>
            <input class="form-control" name="id" required  />
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="Description">Description:</label>
            <input class="form-control" name="descripton" required  />
        </div>
    </div>
    <input type="hidden" name="teamId" value="@team.TeamId" />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary" >Add</button>
    </div>
</form>
</div>

@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This Id already exists</h3>
}