@model Topic
@{
    ViewBag.Title = "Add an Topic";
    String cookie = ViewData["cookie"].ToString();
    Layout = "_LectureLayout";

}

<div class="form_container">
    <a asp-action="GetTopic" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;">&lt- </a>
    <form asp-action="AddTopic" method="post">
        <h3>Add topic</h3>
    <div class="form-group d-flex flex-column justify-content-between">
        <div>
            <label for="id">Id</label>
            <input class="form-control " name="id" required  />
        </div>
        <div>
            <label for="name">Name</label>
            <input class="form-control " name="name" required  />
        </div>
    </div>
  
    <div class="form-group">
        <label for="Description">Description:</label>
        <input class="form-control " name="descripton" required />
    </div>
    <input type="hidden" name="LecturerId" value="@cookie" />
    <input type="hidden" name="approval" value="false" />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm">Add</button>
    </div>
</form>
</div>


@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 style="color:red" class="text-center">This Id already exists</h3>
}
