@{

    List<Report> reportList = (List<Report>)ViewData["ReportList"];
    Layout = "_LectureLayout";
}

@if (reportList.Count != 0)
{


  <div class="table_scroll">
            <table class="table table-hover table_header_fixed" >
        <thead class="thead">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripton</th>
                <th scope="col">Team Id</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var r in reportList)
            {
                <tr>
                    <td>@r.Id</td>
                    <td style="word-break:break-all; word-wrap:break-word; white-space:pre-wrap;">@r.Description</td>
                    <td>@r.TeamId</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
    <h2 style="text-align:center"> No report available</h2>
}

