@model Assignment
@{
    ViewBag.Title = "Add an Assignment";
    List<StudentTeam> StudentList = (List<StudentTeam>)ViewData["StudentList"];
    Layout = "_Layout";

}
@if (ViewBag.Result != "Leader")
{

    <div class="form_container">


        <a asp-action="GetTask" class="back" style="    position: relative;
    left: 3%;font-size:20px;font-weight:800;text-decoration:none;color:black;">&lt- </a>
        <form asp-action="AddTask" method="post">
            <h3>Add an Task </h3>
            <div>
                <label for="Id">Id:</label>
                <input class="form-control" name="TaskId" required />
            </div>
            <div>
                <label for="Name">Name:</label>
                <input class="form-control" name="Name" required />
            </div>


            <div class="form-group">
                <label for="Descripton">Description:</label>
                <input class="form-control" name="Descripton" required />
            </div>
            <div class="form-group d-flex justify-content-between">
                <div>
                    <label for="DateStart">DateStart:</label>
                    <input class="form-control" type="date" name="DateStart" required />
                </div>
                <div>
                    <label for="DateEnd">DateEnd: </label>
                    <input class="form-control" type="date" name="DateEnd" required />
                </div>
            </div>
            <div class="text-center panel-body">
                <button type="submit" class="btn btn-sm ">Add</button>
            </div>
        </form>
    </div>

    @if (ViewBag.Result == "Duplicate")
    {
        <br />
        <h3 style="color:red" class="text-center">This Id already exists</h3>
    }
}
else
{
    <h2>Add an Task </h2>
    @*    <a asp-action="GetTask" class="btn btn-sm btn-secondary">Back </a>*@
    <form asp-action="AddTask" method="post" style="width:730px;">
        <div class="form-group d-flex justify-content-between">
            <div>
                <label for="Id">Id:</label>
                <input class="form-control" name="TaskId" required style="width:350px;" />
            </div>
            <div>
                <label for="Name">Name:</label>
                <input class="form-control" name="Name" required s style="width:350px;" />
            </div>
        </div>

        <div class="form-group">
            <label for="Descripton">Description:</label>
            <input class="form-control" name="Descripton" required style="width:730px;" />
        </div>
        <div class="form-group d-flex justify-content-between">
            <div>
                <label for="DateStart">DateStart:</label>
                <input class="form-control" type="date" name="DateStart" required size="40" style="width:350px;" />
            </div>
            <div>
                <label for="DateEnd">DateEnd: </label>
                <input class="form-control" type="date" name="DateEnd" required size="40" style="width:350px;" />
            </div>
        </div>
        <label for="StudentId"> Assign to </label>
        <select class="form-select-sm" for="StudentId" id="StudentId" name="StudentId">
            @foreach (var r in StudentList)
            {
                <option value="@r.StudentId">@r.StudentId</option>
            }
        </select>

        <div class="text-center panel-body">
            <button type="submit" class="btn btn-sm btn-primary" style="width:730px;font-size:20px">Add</button>
        </div>
    </form>
}
