@model Semester
@{
    ViewBag.Title = "Add a Semester";
}

<h2>Add a Semester <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddSemester" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>

    @if (ViewData["IdLength"] == "IdLength")
    {
        <div style="color:red">ID can only contain at max 50 characters</div>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <div style="color:red">ID must start with "Semester" and followed by a number ranging from 1 to 9</div>
        <br/>
    }


    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>
    <br />

    @if (ViewData["NameLength"] == "NameLength")
    {
        <div style="color:red">Name can only contain at max 200 characters</div>
        <br />
    }
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>


@if (ViewBag.Result == "Duplicate")
{
    <div class="text-center" style="color:red">THIS ID ALREADY EXIST</div>
    <br />
}