@model Semester
@{
    ViewBag.Title = "Add a Semester";
}

<h2>Add a Student <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddSemester" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>

    @if (ViewData["IdLength"] == "IdLength")
    {
        <h3>ID can only contain at max 50 characters</h3>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <h3>ID must start with "Semester" and followed by a number ranging from 1 to 9</h3>
    }


    @if (ViewBag.Result == "Duplicate")
    {
        <h3>THIS ID ALREADY EXIST</h3>
        <br />
    }

    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>
    <br />

    @if (ViewData["NameLength"] == "NameLength")
    {
        <h3>Name can only contain at max 200 characters</h3>
        <br />
    }
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>
