@model Semester
@{
    ViewBag.Title = "Update a Semester";
}

<h2>Update a Semester <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="UpdateSemester" method="post">
    <div class="form-group">
        <label asp-for="@Model.Id">Id:</label>
        <input class="form-control" asp-for="@Model.Id" name="id" required readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Name">Name:</label>
        <input class="form-control" asp-for="@Model.Name" name="name" required />
    </div>
    <br />
    @if (ViewData["NameLength"] == "NameLength")
    {
        <h3>Name can only contain at max 200 characters</h3>
        <br />
    }
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <h3>THIS ID ALREADY EXIST</h3>
}
