@model Subject
@{
    ViewBag.Title = "Add a Subject";
}

<h2>Add a Subject <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddSubject" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>
    @if (ViewData["IdLength"] == "IdLength")
    {
        <div style="color:red">Id can only contain at max 50 characters</div>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <div style="color:red">ID must start with 3 letters and followed by 3 numbers</div>
        <br />
        <div style="color:red">you can add a "c" at the end to indicate coursera's subject</div>
    }


    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>

    @if (ViewData["NameLength"] == "NameLength")
    {
        <div style="color:red">Name can only contain at max 200 characters</div>
        <br />
    }

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>


@if (ViewBag.Result == "Duplicate")
{
    <h3 class="text-center" style="color:red">THIS ID ALREADY EXIST</h3>
    <br />
}

