@model Subject
@{
    ViewBag.Title = "Add a Subject";
}

<h2>Add a Subject <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddSubject" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>
    @if (ViewData["IdLength"] == "IdLength")
    {
        <h3>Id can only contain at max 50 characters</h3>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <h3>ID must start with 3 letters and followed by 3 numbers</h3>
        <br />
        <h3>you can add a "c" at the end to indicate coursera's subject</h3>
    }


    @if (ViewBag.Result == "Duplicate")
    {
        <h3>THIS ID ALREADY EXIST</h3>
        <br />
    }
    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>

    @if (ViewData["NameLength"] == "NameLength")
    {
        <h3>Name can only contain at max 200 characters</h3>
        <br />
    }

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

