@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="text-center">
        <h1 class="display-4">SWP Project Management</h1>
        
    </div>
    <a class="nav-link text-dark" href="/AssignmentStudent/Index">Assign Student - Assignment</a>
    <br />
    <a class="nav-link text-dark" href="/StudentCourse/Index">Assign Student - Course</a>
    <br />
    <a class="nav-link text-dark" href="/StudentTeam/Index">Assign Student - Team</a>
    <br />
    <a class="nav-link text-dark" href="/SubjectTopic/Index">Assign Subject - Topic</a>
    <br />
    <a class="nav-link text-dark" href="/TopicAssign/Index">Assign Topic - Assign</a>
}
