@model Lecturer
@{
    ViewBag.Title = "Add a Lecturer";
}


<h2>Add a Lecturer <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddLecturer" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>

    @if (ViewData["Invalid"] == "Invalid")
    {
        <div style="color:red" >ID must start with "LE" and followed by 6 numbers</div>
        <br />
    }


    @if (ViewData["IdLength"] == "IdLength")
    {
        <div style="color:red">Id can only contain at max 50 characters</div>
        <br />
    }


    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div>

    @if (ViewData["NameLength"] == "NameLength")
    {
        <div style ="color:red">Name can only contain at max 200 characters</div>
        <br />
    }
    <div class="form-group">
        <label for="Main">Main:</label>
        <input class="form-control" name="Main" required />
    </div>

    @if (ViewData["MainLength"] == "MainLength")
    {
        <div style="color:red">Main must contain at max 200 characters</div>
        <br />
    }
    <label for="Leader">Is Leader? </label>
    <select class="form-group" name="Leader" id="Leader">
        <option value=true>Yes</option>
        <option value=false>No</option>
    </select>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <br/>
    <h3 class="text-center panel-body" style="color:red">THIS ID ALREADY EXIST</h3>
}
