@model Team
@{
    ViewBag.Title = "Add a Team";
    List<Course> CourseList = (List<Course>)ViewData["CourseList"];
}

<h2>Add a Team <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddTeam" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="id" required />
    </div>
    <br />
    @if (ViewData["IdLength"] == "IdLength")
    {
        <div style="color:red">ID can only contain at max 50 characters</div>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <div style="color:red">ID must start with "T" and followed by any number</div>
        <br />
    }



    <select class="form-select form-select-lg" name="CourseId" id="CourseId" required>
        <option value="" selected>Course Id</option>
        @{
            foreach (Course r in CourseList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br />
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <h3 class="text-center" style="color:red">THIS ID ALREADY EXIST</h3>
    <br />
}