@model Account
@{
    ViewBag.Title = "Assign an assignment to a student";
    List<Assignment> AssignmentList = (List<Assignment>)ViewData["AssignList"];
    List<Student> StudentList = (List<Student>)ViewData["StudentList"];
}

<h2>Assign an assignment to a student <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddAssignmentStudent" method="post">
    <select class="form-select form-select-lg" name="TaskId" id="TaskId" required>
        <option value ="" selected>Task Id</option>
        @{
            foreach (Assignment r in AssignmentList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
            }
        }
    </select>
    <br />
    <select class="form-select form-select-lg" name="StudentId" id="StudentId" required>
        <option value ="" selected>Student Id</option>
            @{
            foreach (Student r in StudentList)
            {
                <option value="@r.Id"> @r.Id</option>   
            }
            }
     </select>
     <br />
    <label for="Status">Status </label>
    <select class="form-select-sm" name="Status" id="Status" required>
        <option value="Ongoing">Ongoing</option>
        <option value="Closed">Closed</option>
        <option value="Completed">Completed</option>
    </select>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (ViewBag.Result == "Duplicate")
{
    <h3 style="color:red" class="text-center">This task has already been assigned to this student.</h3>
}
