@model AssignmentStudent
@{
    ViewBag.Title = "Update an Assignment - Student";
    List<Assignment> AssignmentList = (List<Assignment>)ViewData["AssignList"];
    List<Student> StudentList = (List<Student>)ViewData["StudentList"];
}
<h2>Update a Assignment <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form method="post">
    <select class="form-select form-select-lg" name="taskId" id="taskId" required>
        @{
            foreach (Assignment assignment in AssignmentList)
            {
                <option value="@assignment.Id"> @assignment.Id</option>
            }
        }
        
    </select>
    <br />
    <select class="form-select form-select-lg" name="studentId" id="studentId" required>
        @{
            foreach (Student r in StudentList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
    </select>
    <label for="Status">Status </label>
    <select name="Status" id="Status" required>
        <option value="Ongoing">Ongoing</option>
        <option value="Closed">Closed</option>
        <option value="Completed">Completed</option>
    </select>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>