@model Topic
@{
    ViewBag.Title = "Add a Topic";
    List<Lecturer> LecturerList = (List<Lecturer>)ViewData["LecturerList"];
}

<h2>Add a Topic <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddTopic" method="post">
    <div class="form-group">
        <label for="Id">Id:</label>
        <input class="form-control" name="Id" required />
    </div>
    <br />
    @if (ViewData["IdLength"] == "IdLength")
    {
        <div style="color:red">ID can only contain at max 50 characters</div>
        <br />
    }


    @if (ViewData["Invalid"] == "Invalid")
    {
        <div style="color:red">ID must start with "TP" and followed by any number</div>
        <br />
    }



    <select class="form-select form-select-lg" name="LecturerId" id="LecturerId" required>
        <option value="" selected>Lecturer Id</option>
        @{
            foreach (Lecturer r in LecturerList)
            {
                <option value="@r.Id"> @r.Id</option>
            }
        }
        }
    </select>
    <br/>
    <div class="form-group">
        <label for="Name">Name:</label>
        <input class="form-control" name="Name" required />
    </div> 
    @if (ViewData["NameLength"] == "NameLength")
    {
        <div style="color:red">Name can only contain at max 200 characters</div>
        <br />
    }
    <div class="form-group">
        <label for="Descripton">Descripton:</label>
        <input class="form-control" name="Descripton" required />
    </div>
    @if (ViewData["DescriptionLength"] == "DescriptionLength")
    {
        <h3>Description can only contain at max 200 characters</h3>
        <br />
    }

    <label for="Approval">Approval? </label>
    <select class="form-select-sm" name="Approval" id="Approval">
        <option value=true>Yes</option>
        <option value=false>No</option>
    </select>

    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>


@if (ViewBag.Result == "Duplicate")
{
    <br />
    <h3 class="text-center" style="color:red">THIS ID ALREADY EXIST</h3>
}